$primary-color: #000000;
$black-color: #161616;
$gray-color: hsl(0, 0%, 100%);
$pink-color: #7e3b9f;
$violet-color: #100216;
$font: 'Roboto', sans-serif;

body {
  margin: 0;
  padding: 0;
  background-color: #000000; 
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to bottom,#100216 );
  
}



.hero {
  display: flex;
  flex-direction: column; 
  align-items: center;
  text-align: center; /* Texte centré */
}

.profile-image {
  max-width: 100%; 
  height: auto; 
  order: -1; 
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .hero {
      flex-direction: row; 
      text-align: left; 
  }

  .profile-image {
      order: 0; 
      margin: 0 0 0 20px; 
  }
}





/* Barre de navigation (Header) */
.search-bar {
  position: sticky;
  top: 0; //
  z-index: 999;
  background: $black-color; 
  padding: 5px 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);

    li a {
      text-decoration: none;
      color: $primary-color;
      font-weight: 600;
      font-size: 0.9rem; 
      transition: color 0.3s ease-in-out;

      &:hover {
        color: $pink-color;
      }
    }
  }


/* Section Accueil (Hero) */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 10%;
}

.hero .content {
  max-width: 50%;
}

.hero .content h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: $pink-color;
}

.hero .content h3 {
  color: hsl(0, 0%, 100%);
}

.hero .content .catchphrase {
  font-size: 1.5rem;
  color: #b096be; 
  font-style: italic; 
  text-align: center;
  margin: 10px 0;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 1.5s ease-out forwards;
  transition: transform 0.1s ease-out;
}


a{
  text-decoration: none;
  color: $pink-color;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
/* Animation pour l'apparition du texte */
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero .content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: $gray-color;
}

.hero .content .btn-cv {
  display: inline-block;
  background-color: #934bb7;
  color: #ffffff;
  text-decoration: none;
  padding: 15px 30px;
  font-size: 1rem;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
}

/* En mode petits écrans */
@media (max-width: 768px) {
  .hero .content .btn-cv {
    padding: 10px 20px;
    font-size: 0.8rem;
    border-radius: 20px;
  }
}

.hero .profile-image img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 3px solid $pink-color;
  object-fit: cover;
  transition: transform 0.2s ease-in-out;
}

.hero .profile-image img:hover {
  transform: scale(1.02);
}




/*Section Projets*/
.projects {
  padding: 50px 10%;
  background: linear-gradient(to bottom, $primary-color, $violet-color);
  color: $primary-color;
  text-align: center;

  h2 {
    font-size: 2.5rem;
    color: $pink-color;
    margin-bottom: 30px;
    padding-top: 150px;

  }

  .project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;

  }

  .project {
    background-color: $black-color;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    img {
      width: 100%;
      height: 150px;
      object-fit: cover;
    }

    h3 {
      font-size: 1.5rem;
      color: $pink-color;
      margin: 15px 0;
    }

    p {
      font-size: 1rem;
      color: $gray-color;
      padding: 0 15px 20px;
    }

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
    }
  }
}

/*Section Compétences*/
.skills {
  padding: 50px 10%;
  background: linear-gradient(to bottom, $primary-color, $violet-color);
  background: linear-gradient(to top, $primary-color, $violet-color);
  color: $primary-color;
  text-align: center;
  padding-top: 150px;

  h2 {
    font-size: 2.5rem;
    color: $pink-color;
    margin-bottom: 40px;
  }

  .skills-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    justify-items: center;
  }

  .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $black-color;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    img {
      width: 70px;
      height: 70px;
      margin-bottom: 10px;
      object-fit: contain;
    }

    h3 {
      font-size: 1.2rem;
      color: $pink-color;
    }

    &:hover {
      transform: scale(1.05);
      box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
    }
  }
}

/*Section Contact*/
.contact {
  padding: 50px 10%;
  padding-top: 150px;
  background: linear-gradient(to bottom, $primary-color, $violet-color);
  background: linear-gradient(to top, $primary-color, $violet-color);
  color: $primary-color;
  text-align: center;

  h2 {
    font-size: 2.5rem;
    color: $pink-color;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 40px;
    color: $gray-color;
  }

  form {
    max-width: 600px;
    margin: 0 auto;

    .form-group {
      margin-bottom: 20px;

      input,
      textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid $pink-color;
        border-radius: 5px;
        background-color: $black-color;
        color: white;
        font-size: 1rem;
        transition: border-color 0.3s ease-in-out;

        &:focus {
          border-color: lighten($pink-color, 10%);
        }
      }

      textarea {
        height: 100px;
      }
    }

    .btn-send {
      background: $pink-color;
      color: $black-color;
      border: none;
      padding: 10px 20px;
      font-size: 1rem;
      border-radius: 25px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &:hover {
        background: lighten($pink-color, 10%);
        transform: translateY(-3px);
      }
    }
  }
}


/*animation d'apparition*/
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.btn-cv a{
  color: $black-color;
  font-size: 20px;
   transform: scale(1.01);
   position: relative;
   width: 32vw;
   border-radius: 5%;
   box-shadow: 0 0 15px $black-color;
   cursor: pointer;
}
.btn-cv a:hover{
  transform: scale(1.01);
  box-shadow: 0 0 15px $pink-color;
}


.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: black;
  padding: 10px 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.hero {
  margin-top: 60px;
}


.header {
  padding: 10px 20px; 
  height: auto; 
  margin-bottom: 20px; 
}

.navbar ul {
  margin: 0; 
  padding: 0;
  list-style: none; 
}

.navbar li {
  display: inline-block; 
  margin: 0 10px; 
}


.navbar a {
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.navbar a:hover {
  color: black;
  background-color: #934bb7;
  border-radius: 5px;
}


@media (max-width: 768px) {
  .header {
      padding: 5px 10px; /* réduit encore plus l'espace sur mobile */
  }

  .navbar ul {
      flex-direction: column;
      text-align: center;
  }
}






/*section Education*/
.education {
  padding: 50px 10%;
  background: linear-gradient(to bottom, $violet-color, $primary-color);
  background: linear-gradient(to top, $violet-color, $primary-color);
  color: $primary-color;
  text-align: center;




  .education-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
  }

  .education {
    background-color: $black-color;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    img {
      width: 100%;
      height: 150px;
      object-fit: cover;
    }
  }
}


/*animation*/
section {
  padding: 50px 10%;
  background: transparent;
  backdrop-filter: blur(5px);
  opacity: 0;
  transform: scale(0.98);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}


section.visible {
  opacity: 1;
  transform: scale(1.02); 
}

.project img {
  transition: transform 0.3s ease-in-out;
}

.project:hover img {
  transform: scale(1.1);
}

button {
  transition: transform 0.2s ease-in-out;
}

button:active {
  transform: scale(0.95);
}


.socials {
  text-align: center;
    background: linear-gradient(to top, #15031d, #2f0233);
  padding: 10px 20px;
  margin: 0;
  font-size: 0.9rem;
}

.socials h2 {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 20px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icons a img {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease-in-out;
}

.social-icons a img:hover {
  transform: scale(1.2);
}


.navbar ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}



/* masque le menu bare si ma page et en grand */
#menu-toggle {
  display: none;
  background-color: #934bb7;
  color: white;
  border: none;
  font-size: 1.5rem;
  padding: 10px;
  cursor: pointer;
  z-index: 1000;
}

/* responsive du menu bare */
@media (max-width: 768px) {
  .navbar ul {
      display: none; /* masque les liens */
      flex-direction: column;
      background-color: #000000;
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      padding: 20px;
  }

  .navbar ul.active {
      display: flex; /* affiche les liens quand le menu bare est cliqué */
  }

  #menu-toggle {
      display: block; /* affiche le bouton menu bare */
  }
}